#game{
  width: 400px; 
  height: 400px;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate( -50%, -50%)
}

.flex {
   width: 1200px;
   height: 600px;
   display: flex;
   flex-direction: row;
   align-content: center;
   flex-wrap: wrap;
   justify-content: center;
}

.items {
   align-self: center;
   align-items: center;
}

.pixel {
   height: 60px;
   width: 60px;
   position: relative;
}

.sky {
   background-color: skyblue;
}

.clounds {
   background-color: whitesmoke;
}

.wall {
   background-color: gray;
}

#player {
   z-index: 2;
   height: 20px;
   width: 20px;
   background-color: yellow;
}

.display {
   height: 600px;
   width: 1200px;
}