#game{
  width: 400px; 
  height: 400px;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate( -50%, -50%)
}

.flex {
   display: flex;
   flex-direction: row;
   align-content: center;
   flex-wrap: wrap;
   justify-content: center;
}

.items {
   align-self: center;
   align-items: center;
}

.pixel {
   height: 30px;
   width: 30px;
   position: relative;
}

.player {
   background-color: blue;
}

.door {
   background-color: brown;
}

.free {
   background-color: whitesmoke;
}

.block {
   background-color: gray;
}

.display {
   height: 600px;
   width: 750px;
}